{% extends 'base.html' %}
{% block content %}
<h3>Music Mixer</h3>
<form id="form1" method="post" action="/api" enctype="multipart/form-data">
    Music<br>
    <input id="File1" type="file" name="myfile" autocomplete="off" required/><br><br>  <!--后台代码中获取文件是通过form的name来标识的-->
    Beat<br>
    <input id="File2" type="text" name="beat" list="typelist" placeholder="请选择" autocomplete="off" required><br><br>
        <datalist id="typelist">
            {% for beat in beats %}
            <option>{{ beat.name }}</option>
            {% endfor %}
        </datalist>
    Delay<br>
    <input id="Pos" type="number" name="pos" value="0" autocomplete="off" required>ms<br><br>
    Beat Speed<br>
    <input id="Speed" type="text" name="speed" value="1" autocomplete="off" required><br><br>
    Beat Volume<br>
    <input id="Volume" type="number" name="vol" value="0" autocomplete="off" required><br>
    (注：为被覆盖音频的音量)<br><br>
    Music Speed<br>
    <input id="Speed2" type="text" name="speed2" value="1" autocomplete="off" required><br><br>
    <input class="btn" type="submit" name="submit" value="Submit"><br><br>
</form>

{% if filename != "None "%}
Audition<br>
<audio src="{{ url_for('static',filename='Mixed/'+filename) }}" controls></audio><br><br>
<a class="DownButtonNormal" name="DownLoadHistEvent" download="{{filename}}" href="{{url_for('static',filename='Mixed/'+filename)}}">Download</a>
{% endif %}

{% endblock %}