{% extends 'base.html' %}
{% block content %}
<h3>Music Mixer</h3>
<form id="form1" method="post" action="/api/upload" enctype="multipart/form-data">
    Music<br>
    <input id="File1" type="file" name="myfile" autocomplete="off" required/><br><br>  <!--后台代码中获取文件是通过form的name来标识的-->
    Beat<br>
    <input id="File2" type="text" name="beat" list="typelist" placeholder="请选择" autocomplete="off" required><br><br>
        <datalist id="typelist">
            {% for beat in beats %}
            <option>{{ beat.name }}</option>
            {% endfor %}
        </datalist>
    <input class="btn" type="submit" name="submit" value="Submit">
</form>
{% endblock %}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="form1" method="post" action="/api/upload" enctype="multipart/form-data">
    <div>
        <input id="File1" type="file" name="myfile" autocomplete="off" required/>  
        <input id="File2" type="text" name="beat" list="typelist" placeholder="请选择" autocomplete="off" required>
        <datalist id="typelist">
            {% for beat in beats %}
            <option>{{ beat.name }}</option>
            {% endfor %}
        </datalist>
        <input type="submit">提交</input>
    </div>    
</form>
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
</body>
</html>
-->